*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

:root {
  --font-tech: "Chakra Petch";
}

body {
  margin: 0;
  font-family: var(--font-tech), "Segoe UI", Tahoma, sans-serif;
}
